git <!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">

            <form action="#" method="post">

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Usuário:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Senha:</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" >
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Entrar" />
                <button class="btn-primary" type="button"><a href="createUser.html">Criar Usuário</a></button>
            </form>
        </div>
    </div>
</div>

</body>
